<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.teamjcd.bpp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bluetooth"
        android:fullBackupContent="@xml/backup_descriptor">

        <provider
            android:name=".content.BppDeviceClassContentProvider"
            android:authorities="com.github.teamjcd.bpp.content.BppDeviceClassContentProvider"
            android:process=":bpp"
            android:exported="false" />

        <provider
            android:name=".content.BppAddressContentProvider"
            android:authorities="com.github.teamjcd.bpp.content.BppAddressContentProvider"
            android:process=":bpp"
            android:exported="false" />

        <activity
            android:name=".activity.BppMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":bpp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BppDeviceClassEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":bpp" />

        <activity
            android:name=".activity.BppAddressEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":bpp" />

    </application>

</manifest>
